{% extends "blog/base.html" %}
{% block content %}
<br><br>
<div class="container" style="width:60%">
    {% for data in search %}
    <article class="media content-section">
        <div class="row">
            <div class="col-md-9">

                <h2></h2>
                <p class="article-content"><strong>Movie Name-:</strong>{{data.title}}</p>
                <p class="article-content"><strong>Releasing Year-:</strong> {{data.year}}</p>

                <p class="article-content"><strong>Type-:</strong> {{data.type}}</p>
                <p class="article-content"><strong>Director-:</strong> {{data.director}}</p>
                <p class="article-content"><strong>Genre-:</strong> {{data.genre}}</p>
                <p class="article-content"><strong>Movie Cast-:</strong> {{data.cast_member}}</p>
            </div>
            <div class="col-md-3">
                {% if data.image %}
                <img src="{{ data.image }}" alt="not found">
                {% else %}
                <h2>Image Not Found!!</h2>
                {% endif %}
            </div>
        </div>
    </article>
    {% endfor %}

</div>


<br><br>
{% endblock %}